* {
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: orange;
}

header {
    height: flex;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.menu-container a {
    padding-right: 50px;
    text-decoration: none;
}

.pic {
    width: 100%;
    max-width: 330px; 
    display: block;
    margin: 0 auto; 
}


.main {
    text-align: center;
}

.legenda, .texto {
    text-align: left;
}

